/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lekton', sans-serif;
  background-color:#E8F0E4;
  color:#152A3E;
}

header {
  background-image: url("night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #E9B14C;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

nav ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  margin-right:0.5em;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  text-transform: lowercase;
  width: 100%;
  text-align: center;
  color: #152A3E;
  background-color: #E9B14C;
  border-radius: 0.5em;
}

.content-wrapper {
 overflow: auto;
 width: 100%;
 max-width: 1200px;
 margin: auto;
 text-align: center;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #F8D697;
  font-weight:bold;
}

.home-title {
  padding-top: 17em;
  padding-bottom: 18em;
  text-align: center;
}

.home-title h1 {
  font-weight: bold;
  margin-bottom: 50px;
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lexend Tera', sans-serif;
  justify-content: center;
  text-align: center;

}

#work, #about, #skills, #contact {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

.portfolio-projects {
  width: 100%;
  float: left;
  margin-right: 1em;
  text-align: center;
}

img {
 width:96%;
 height:15em;
 margin: auto;
}

main p a {
  text-decoration: none;
  list-style-type: none;
  text-transform: lowercase;
  text-align: center;
  color: #D4D3E9;
  background-color: #351D77;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
}

main p a:hover, nav ul li a:focus {
  background-color: #D4D3E9;
  font-weight:bold;
  color:#351D77;
}

.skills ul li a {
  list-style-type: none;
  width:100%;
}

.portfolio-wrapper {
  text-align: center;
}

.half-wrapper {
  padding-left: 20px;
  padding-right: 20px;  
}

.half-wrapper ul li {
  text-align: center;
  list-style-type: none;
}

#link-img {
  width: 2em;
  height: 2em;
}

#portfolio-img {
  width: 22em;
  height: 35em;
  border-style: double;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
}

.third-width {
  padding:15px;
  margin-left:20px;
  margin-right: 25px;
  text-align: center;
}

.third-width p a {
  list-style-type: none;
}
.third-width ul {
margin-right: 2em;
}

.third-width ul li {
  list-style-type: none;
  text-align: center;
}

#about {
  background-color: #cf90d2;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

footer {
  text-align: center;
}

#email {
  list-style-type: none;
  text-decoration: none;
}

#contact .content-wrapper p {
  float: left;
}

span {
  font-weight: bold;
}

@media only screen and (min-width: 460px) {

  nav {
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    width:86%;
    height:25em;
    overflow-x: hidden;
   }

   .half-wrapper ul li {
    text-align: right;
    list-style-type: none;
  }
  
  .half-wrapper {
    float: right;
  }

}

@media only screen and (min-width: 768px) {

  body {
    overflow-x: hidden;
  }

  nav {
    width: fit-content;
  }

  .portfolio-projects {
    margin:auto;
    display: block;
    text-align: center;
    float: left;
    width:50%;
    overflow-x: hidden;

  }

  #work {
    float: left;
    width: 100%;
  padding: 5px;
  }

  .half-wrapper {
    width: 30%;
    margin: auto;
    display:inline-block;
    text-align: center;
    padding-right: 15em;
  }

  .third-width {
    display:inline-block;
    text-align:center;
    width:25%;
    margin: auto;
  }

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

